.app {
  --overlap-position: 0 -70% 0 auto;
  --no-overlap-position: 0 0 0 auto;

  position: absolute;
  inset: var(--overlap-position);
  scale: 0.85;
  width: 100%;
  background-color: var(--bg-300);
  border-radius: var(--radius-200);
  box-shadow: var(--shadow);
  transition:
    inset 300ms ease-in-out,
    scale 300ms 100ms ease-in-out,
    border-radius 300ms ease-in-out;
}

@media (min-width: 40em) {
  .app {
    --no-overlap-position: 2em 2em 2em auto;

    border-radius: var(--radius-100);
    inset: var(--no-overlap-position);
    width: calc(100% - 18em);
    scale: 1;
  }
}

.app.show {
  border-radius: inherit;
  inset: var(--no-overlap-position);
  scale: 1;
}

.app__view {
  position: relative;
}

.app__view.hidden {
  display: none;
}

.app__header {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.app__task--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
