.app {
  position: absolute;
  inset: 0 auto 0 70%;
  scale: 0.85;
  width: 100%;
  background-color: var(--bg-300);
  border-radius: inherit;
  box-shadow: var(--shadow);
  transition: inset 300ms ease-in-out, scale 300ms 100ms ease-in-out;
}

@media (min-width: 23.438em) {
  .app {
    inset: 0 auto 0 50vw;
  }
}

@media (min-width: 48em) {
  .app {
    position: static;
    scale: 1;
  }
}

.app__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.app.show {
  inset: 0 auto 0 0;
  scale: 1;
}

.app__header {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.app__toggleList,
.app__header--buttons > span {
  border: none;
}

.app__toggleList > span,
.app__header--buttons > span > span {
  font-size: 1.25em;
}

.app__category {
  margin-bottom: 1rem;
}

.app__category--list {
  display: flex;
  gap: 1rem;
}

.app__category--list li {
  flex: 1;
}

.app__category--item {
  padding: 1.25em 1em;
  border-radius: var(--radius-100);
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  background-color: var(--bg-200);
}

.app__category--item * {
  margin: 0;
  line-height: 1;
}

.app__category--item__count {
  font-size: 0.75em;
}

.app__category--item__title {
  font-weight: 400;
}

.app__category--item__progressBar {
  --progress: 0;

  position: relative;
  height: 0.205em;
  border-radius: var(--radius-pill);
  background-color: var(--text-200);
}

.app__category--item__progressBar--fill {
  display: inline-block;
  position: absolute;
  height: 100%;
  border-radius: inherit;
  transition: width 400ms ease-in-out;
}

.app__category--item__progressBar--fill::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.205em;
  height: 200%;
  border-radius: inherit;
  background-color: var(--primary);
}

.app__category--list li:first-child .app__category--item__progressBar--fill {
  width: var(--progress);
  background-color: var(--primary);
}

.app__category--list li:first-child .app__category--item__progressBar--fill::before {
  background-color: var(--primary);
}

.app__category--list li:last-child .app__category--item__progressBar--fill {
  width: var(--progress);
  background-color: var(--variant);
}

.app__category--list li:last-child .app__category--item__progressBar--fill::before {
  background-color: var(--variant);
}

.app__task--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
