.app {
  position: absolute;
  inset: 0 auto 0 70%;
  scale: 0.85;
  width: 100%;
  background-color: var(--bg-300);
  border-radius: inherit;
  box-shadow: var(--shadow);
  transition: inset 300ms ease-in-out, scale 300ms 100ms ease-in-out;
}

@media (min-width: 23.438em) {
  .app {
    inset: 0 auto 0 50vw;
  }
}

@media (min-width: 48em) {
  .app {
    position: static;
    scale: 1;
  }
}

.app__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.app.show {
  inset: 0 auto 0 0;
  scale: 1;
}

.app__header {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.app__toggleList,
.app__header--buttons > span {
  border: none;
}

.app__toggleList > span,
.app__header--buttons > span > span {
  font-size: 1.25em;
}

.app__task--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
