.dialog__container {
  background-color: var(--bg-200);
}

.dialog__default {
  position: fixed;
  height: 100%;
  border-radius: var(--radius-200);
  box-shadow: var(--shadow);
  z-index: 10;
  top: 0;
  left: 0;
  scale: 1;
  width: 100%;
  transition:
    top 400ms ease-in-out,
    scale 400ms ease-in-out,
    border-radius 400ms ease-in-out;
}

.dialog__home {
  --dialog-closed-position: var(--spacing-2);
  --dialog-open-position: 0;

  --dialog-closed-dimension: 4em;
  --dialog-mid-dimension: calc(100% - var(--dialog-closed-position) * 2);
  --dialog-open-dimension: 100%;

  --dialog-closed-radius: var(--radius-pill);
  /* --dialog-mid-radius: var(--radius-200); */
  --dialog-open-radius: var(--radius-200);

  position: absolute;
  overflow: hidden;
  z-index: 1000;
}

.dialog__home.open {
  transform: scale(1);
  transition: transform 200ms ease-out;
  animation: open-home-task-entry-form 700ms ease-out forwards;
}

.dialog__home.closed {
  animation: close-home-task-entry-form 500ms ease-out forwards;
}

.dialog__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: var(--bg-200);
  border-radius: inherit;
  z-index: 1000;
  transition:
    opacity 200ms ease-out,
    height 200ms ease-out;
}

.dialog__home.open::before {
  transition:
    opacity 700ms 700ms ease-out,
    height 0ms 2000ms ease-out;
  height: 0;
  opacity: 0;
}

@keyframes open-home-task-entry-form {
  0% {
    right: var(--dialog-closed-position);
    bottom: var(--dialog-closed-position);
    width: var(--dialog-closed-dimension);
    height: var(--dialog-closed-dimension);
    border-radius: var(--dialog-closed-radius);
    visibility: hidden;
    outline-width: 0.125em;
  }
  1% {
    visibility: visible;
  }
  30% {
    width: var(--dialog-mid-dimension);
    height: var(--dialog-closed-dimension);
    visibility: visible;
    outline-width: 0.125em;
  }
  31% {
    border-radius: var(--dialog-open-radius);
    outline-width: 0;
  }
  75% {
    right: var(--dialog-closed-position);
    bottom: var(--dialog-closed-position);
    width: var(--dialog-mid-dimension);
    height: var(--dialog-mid-dimension);
  }
  100% {
    right: var(--dialog-open-position);
    bottom: var(--dialog-open-position);
    width: var(--dialog-open-dimension);
    height: var(--dialog-open-dimension);
    border-radius: var(--dialog-open-radius);
    visibility: visible;
    outline-width: 0;
  }
}

@keyframes close-home-task-entry-form {
  0% {
    right: var(--dialog-open-position);
    bottom: var(--dialog-open-position);
    width: var(--dialog-open-dimension);
    height: var(--dialog-open-dimension);
    border-radius: var(--dialog-open-radius);
    visibility: visible;
    outline-width: 0;
    opacity: 1;
  }
  99% {
    right: var(--dialog-open-position);
    bottom: var(--dialog-open-position);
    width: var(--dialog-open-dimension);
    height: var(--dialog-open-dimension);
    border-radius: var(--dialog-open-radius);
    visibility: visible;
    outline-width: 0.125em;
    opacity: 0;
  }
  100% {
    right: var(--dialog-closed-position);
    bottom: var(--dialog-closed-position);
    width: var(--dialog-closed-dimension);
    height: var(--dialog-closed-dimension);
    border-radius: var(--dialog-closed-radius);
    visibility: hidden;
    outline-width: 0.125em;
    opacity: 0;
  }
}

.dialog {
  display: grid;
  place-items: center;
  border: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-color: inherit;
}

.dialog__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: inherit;
  border-radius: inherit;
  opacity: 0;
  z-index: 1;
  transition:
    opacity 500ms 400ms ease-in-out,
    height 0ms 900ms ease-in-out;
}

.dialog__container.hidden::before {
  height: 100%;
  opacity: 1;
  transition: opacity 0ms ease-in-out;
}

.dialog__container.hidden {
  top: 80%;
  scale: 0.85;
  border-radius: var(--radius-100);
}

.dialog__none {
  display: none;
}

.dialog__dragButton--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: inherit;
  background-color: inherit;
  z-index: 1;
}

.dialog__dragButton {
  margin: 1em 2em;
}
