.hero {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: inherit;
  background-color: var(--bg-200);
}

.hero__button--container {
  text-align: center;
}

@media (min-width: 48em) {
  .hero__button--container {
    display: none;
  }
}

.hero__button {
  --dimension: 2.75em;

  color: var(--text-100);
  border: solid 0.125em var(--text-100);
}

.hero__button span {
  scale: 1.15;
}

.hero__image--container {
  --dimension: 6em;

  padding: 0.15em;
  width: var(--dimension);
  height: var(--dimension);
  background: linear-gradient(45deg, var(--text-200) 60%, var(--primary), var(--primary));
  border-radius: var(--radius-circle);
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  border: solid 0.215em var(--bg-200);
}

.hero__title span:first-child {
  display: block;
  font-weight: 400;
  font-size: 0.9125em;
  color: var(--text-300);
}

.hero__nav--list {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

@media (min-width: 48em) {
  .hero__nav--list {
    margin: 2em 0;
  }
}

.hero__nav--item button {
  padding: 0.15em 0.5em;
  margin-left: -0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--text-100);
  border-radius: var(--radius-25);
}

.hero__nav--item button span:first-child {
  color: var(--text-200);
}

.hero__nav--list button:hover {
  color: var(--primary);
  background-color: transparent;
}

.hero__categories {
  display: none;
  padding: 0;
  position: relative;
}

.hero__categories li {
  position: relative;
}

.hero__categories li::before {
  content: "";
  position: absolute;
  inset: 20% calc(-0.125em / 2) 20% auto;
  width: 0.125em;
  border-radius: var(--radius-pill);
  background-color: var(--category-clr, var(--text-400));
}

@media (min-width: 48em) {
  .hero__templates {
    display: block;
  }

  .hero__categories {
    display: block;
  }

  .hero__categories .category--list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .hero__categories .category--item {
    background-color: var(--bg-300);
  }

  .hero__categories .category--item__progressCircle {
    display: grid;
  }
}

.hero__analytics .section__subTitle--container {
  display: none;
}

@media (min-width: 48em) {
  .hero__analytics .section__subTitle--container {
    display: block;
  }
}

.hero__analytics--graph {
  padding: 0 0 0.5em;
  position: relative;
}

.hero__analytics--graph::before {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  width: 100%;
  background-color: var(--bg-200);
  border-radius: inherit;
  animation: graph-animation 3s 1s forwards ease-in-out;
}

@keyframes graph-animation {
  0% {
    width: 1001;
  }
  100% {
    width: 0;
  }
}

.hero__analytics--graph__image {
  width: 10em;
}

.hero__analytics--report {
  display: flex;
  flex-direction: column;
}

.hero__analytics--report__text {
  margin: 0;
  font-size: 0.85em;
}

.hero__analytics--report__title {
  font-size: 1.125em;
  order: 1;
}
