.hero {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: inherit;
  background-color: var(--bg-200);
}

.hero__button--container {
  text-align: center;
}

@media (min-width: 48em) {
  .hero__button--container {
    display: none;
  }
}

.hero__button {
  --dimension: 2.75em;

  color: var(--text-100);
  border: solid 0.125em var(--text-100);
}

.hero__button span {
  scale: 1.15;
}

.hero__image--container {
  --dimension: 6em;

  padding: 0.15em;
  width: var(--dimension);
  height: var(--dimension);
  background: linear-gradient(45deg, var(--text-200) 60%, var(--primary), var(--primary));
  border-radius: var(--radius-circle);
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  border: solid 0.215em var(--bg-200);
}

.hero__title span:last-child {
  display: block;
}

@media (min-width: 48em) {
  .hero__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__image--container {
    --dimension: 3.5em;
  }

  .hero__title {
    font-size: 0.825em;
    margin: 0;
  }

  .hero__title span:first-child {
    font-weight: 400;
    color: var(--text-300);
  }
}

.hero__nav--list {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

@media (min-width: 48em) {
  /* .hero__nav {
    display: none;
  } */

  .hero__nav--list {
    margin: 2em 0;
  }
}

.hero__nav--item button {
  padding: 0.15em 0.5em;
  margin-left: -0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--text-100);
  border-radius: var(--radius-25);
}

.hero__nav--item button span:first-child {
  color: var(--text-200);
}

.hero__nav--list button:hover {
  color: var(--primary);
  background-color: transparent;
}

.template__button {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.menu__list--item__status {
  --dimension: 1.25em;
  
  display: grid;
  place-items: center;
  border: 2px solid;
  width: var(--dimension);
  height: var(--dimension);
  border-radius: var(--radius-circle);
}

.template__button .material-symbols-outlined {
  display: none;
}

.template__button.active .material-symbols-outlined {
  display: inline-block;
}

.template__color--list {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.template__color--item {
  width: 0.5em;
  height: 1.25em;
  display: inline-block;
  background-color: red;
  border-radius: var(--radius-pill);
}

.template__color--primary {
  background-color: var(--primary);
}

.template__color--text {
  background-color: var(--text-100);
}

.template__color--variant {
  background-color: var(--variant);
}

.template__color--bg-100 {
  background-color: var(--bg-100);
}

.template__color--bg-200 {
  background-color: var(--bg-200);
}

.template__color--bg-300 {
  background-color: var(--bg-300);
}



/* .hero__templates {
  display: none;
  margin: 2em 0;
} */

/* .hero__templates .section__subTitle {
  margin-bottom: 0.5em;
}

.hero__template--list {
  display: flex;
  gap: 0.5em;
} */

/* .hero__template--button {
  padding: 0.75em;
  border-radius: var(--radius-circle);
  border: dotted 2px var(--button-border-clr);
  display: grid;
  transition: scale 100ms ease-in-out, border-style 100ms ease-in-out;
} */

/* .hero__template--button:hover {
  scale: 1.05;
  border-style: solid;
} */

.hero__categories {
  display: none;
  padding: 0;
  position: relative;
}

.hero__categories li {
  position: relative;
}

.hero__categories li::before {
  content: "";
  position: absolute;
  inset: 20% calc(-0.125em / 2) 20% auto;
  width: 0.125em;
  border-radius: var(--radius-pill);
  background-color: var(--category-clr, var(--text-400));
}

@media (min-width: 48em) {
  .hero__templates {
    display: block;
  }

  .hero__categories {
    display: block;
  }

  .hero__categories .category--list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .hero__categories .category--item {
    background-color: var(--bg-300);
  }

  .hero__categories .category--item__progressCircle {
    display: grid;
  }
}

.menu {
  position: absolute;
  inset: 0 auto 0 -100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: var(--radius-200);
  background-color: var(--bg-300);
  box-shadow: var(--shadow);
  z-index: 1;
  scale: 0.85;
  /* transition: inset 300ms ease-in-out, scale 100ms 200ms ease-in-out, */
    /* border-radius 300ms ease-in-out; */
}

/* @media (min-width: 48em) {
  .menu {
    display: block;
  }
} */

.menu__container {
  padding: 1em;
}

.menu.open {
  animation: nav-popup-slide-in 400ms ease-in-out forwards;
}

.menu.close {
  animation: nav-popup-slide-out 400ms ease-in-out forwards;
}

@keyframes nav-popup-slide-in {
  0% {
    inset: 0 auto 0 -100%;
    scale: 0.85;
    border-radius: var(--radius-200);
  }
  60% {
    scale: 0.85;
    border-radius: var(--radius-200);
  }
  100% {
    inset: 0 auto 0 0;
    scale: 1;
    border-radius: inherit;
  }
  
}

@keyframes nav-popup-slide-out {
  0% {
    inset: 0 auto 0 0;
    scale: 1;
    border-radius: inherit;
  }
  60% {
    scale: 0.85;
    border-radius: var(--radius-200);
  }
  100% {
    inset: 0 auto 0 -100%;
    scale: 0.85;
    border-radius: var(--radius-200);
  }
}

.menu__button {
  text-align: right;
}

.menu__button--close span {
  font-size: 1.125em;
}

.menu__list {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}

.menu__list--item__button {
  padding: 1em;
  font-size: 0.8125em;
  border-radius: var(--radius-100);
  width: 100%;
  background-color: var(--bg-200);
}

.menu__list--item__button:hover {
  box-shadow: var(--shadow);
}

.hero__analytics .section__subTitle--container {
  display: none;
}

@media (min-width: 48em) {
  .hero__analytics .section__subTitle--container {
    display: block;
  }
}

.hero__analytics--graph {
  padding: 0 0 0.5em;
  position: relative;
}

.hero__analytics--graph::before {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  width: 100%;
  background-color: var(--bg-200);
  border-radius: inherit;
  animation: graph-animation 3s 1s forwards ease-in-out;
}

@keyframes graph-animation {
  0% {
    width: 1001;
  }
  100% {
    width: 0;
  }
}

.hero__analytics--graph__image {
  width: 10em;
}

.hero__analytics--report {
  display: flex;
  flex-direction: column;
}

.hero__analytics--report__text {
  margin: 0;
  font-size: 0.85em;
}

.hero__analytics--report__title {
  font-size: 1.125em;
  order: 1;
}
