.menu {
  --menu-start-position: 0 100% 0 auto;
  --menu-end-position: 0 0 0 auto;
  --menu-start-radius: var(--radius-200);
  --menu-end-radius: inherit;

  position: absolute;
  inset: var(--menu-start-position);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: var(--menu-start-radius);
  background-color: var(--bg-300);
  box-shadow: var(--shadow);
  z-index: 1;
  scale: 0.85;
  overflow-y: hidden;
}

@media (min-width: 40em) {
  .menu {
    --menu-start-position: 2em 100% 2em auto;
    --menu-end-position: 2em 2em 2em auto;
    --menu-start-radius: var(--radius-100);
    --menu-end-radius: var(--menu-start-radius);

    width: calc(100% - 18em);
  }
}

.menu.open {
  animation: open-menu 400ms ease-in-out forwards;
}

.menu.close {
  animation: close-menu 400ms ease-in-out forwards;
}

@keyframes open-menu {
  0% {
    inset: var(--menu-start-position);
    scale: 0.85;
    border-radius: var(--menu-start-radius);
  }
  60% {
    scale: 0.85;
    border-radius: var(--menu-start-radius);
  }
  100% {
    inset: var(--menu-end-position);
    scale: 1;
    border-radius: var(--menu-end-radius);
  }
}

@keyframes close-menu {
  0% {
    inset: var(--menu-end-position);
    scale: 1;
    border-radius: var(--menu-end-radius);
  }
  60% {
    scale: 0.85;
    border-radius: var(--menu-start-radius);
  }
  100% {
    inset: var(--menu-start-position);
    scale: 0.85;
    border-radius: var(--menu-start-radius);
  }
}

.menu__header {
  text-align: right;
  position: absolute;
  inset: 2em 2em 0 auto;
  height: max-content;
}

.menu__button--close span {
  font-size: 1.125em;
}

.menu__title {
  margin: 0.25em 0;
}
