.menu {
  position: absolute;
  inset: 0 auto 0 -100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  border-radius: var(--radius-200);
  background-color: var(--bg-300);
  box-shadow: var(--shadow);
  z-index: 1;
  scale: 0.85;
}

@media (min-width: 48em) {
  .menu {
    width: 14em;
  }
}

.menu.open {
  animation: nav-popup-slide-in 400ms ease-in-out forwards;
}

.menu.close {
  animation: nav-popup-slide-out 400ms ease-in-out forwards;
}

@keyframes nav-popup-slide-in {
  0% {
    inset: 0 auto 0 -100%;
    scale: 0.85;
    border-radius: var(--radius-200);
  }
  60% {
    scale: 0.85;
    border-radius: var(--radius-200);
  }
  100% {
    inset: 0 auto 0 0;
    scale: 1;
    border-radius: inherit;
  }
}

@keyframes nav-popup-slide-out {
  0% {
    inset: 0 auto 0 0;
    scale: 1;
    border-radius: inherit;
  }
  60% {
    scale: 0.85;
    border-radius: var(--radius-200);
  }
  100% {
    inset: 0 auto 0 -100%;
    scale: 0.85;
    border-radius: var(--radius-200);
  }
}

.menu__button {
  text-align: right;
}

.menu__button--close span {
  font-size: 1.125em;
}
