.app__task {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__task--list {
  flex: 1;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  display: flex;
  flex-direction: column;
  height: 16em;
  gap: 0.5em;
  overflow-x: clip;
  overflow-y: auto;
  max-height: 19.5em;
}

.app__task--list__item {
  --transition-time: 200ms;
  --padding: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-200);
  border-radius: var(--radius-100);
}

.app__task--list__item:focus-within {
  outline: 0.125em solid var(--primary-button);
}

.app__task--list__item .more__options--button {
  padding-right: 0.375em;
  display: grid;
  place-items: center;
  color: var(--text-400);
}

.app__task--list__item .more__options--button:hover,
.app__task--list__item .more__options--button:focus-visible {
  color: var(--text-100);
  background-color: transparent;
}

.app__task--list__item--checkbox {
  --outline-color: var(--text-200);

  padding-left: var(--padding);
  display: flex;
  align-items: center;
  gap: 1em;
  flex: 1;
}

.app__task--list__item--checkbox > input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1.25em;
  height: 1.25em;
  outline: 0.195em solid var(--outline-color);
  border-radius: var(--radius-circle);
  background-color: transparent;
  rotate: -45deg;
  transition: outline 100ms ease-in-out, background-color var(--transition-time) ease-in-out;
}

.app__task--list__item--checkbox > input[type="checkbox"]::before,
.app__task--list__item--checkbox > input[type="checkbox"]::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: var(--radius-100);
  transition: background-color var(--transition-time) ease-in-out;
}

.app__task--list__item--checkbox > input[type="checkbox"]::before {
  width: 0.215em;
  height: 0.5em;
  bottom: 35%;
  left: 22%;
}

.app__task--list__item--checkbox > input[type="checkbox"]::after {
  width: 0.75em;
  height: 0.215em;
  bottom: 35%;
  left: 22%;
}

.app__task--list__item--checkbox > input[type="checkbox"]:checked,
.app__task--list__item--checkbox > input[type="checkbox"]:checked {
  background-color: var(--text-200);
  outline-width: 0;
  opacity: 0.5;
}

.app__task--list__item--checkbox > input[type="checkbox"]:checked::before,
.app__task--list__item--checkbox > input[type="checkbox"]:checked::after {
  background-color: var(--text-100);
}

.app__task--list__item--checkbox input[type="checkbox"] + label .app__task--list__item--text {
  position: relative;
  color: var(--text-100);
}

.app__task--list__item--checkbox
  input[type="checkbox"]
  + label
  .app__task--list__item--text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -0.25em;
  width: 0;
  height: 0.115em;
  border-radius: var(--radius-100);
  background-color: var(--text-200);
  transition: width 200ms ease-in-out;
}

.app__task--list__item--checkbox
  input[type="checkbox"]:checked
  + label
  .app__task--list__item--text {
  color: var(--text-200);
}

.app__task--list__item--checkbox label {
  flex: 1;
}

.app__task--list__item--checkbox .app__task--list__item--text {
  display: inline-block;
  padding: var(--padding) 0;
}

.app__task--list__item--checkbox
  input[type="checkbox"]:checked
  + label
  .app__task--list__item--text::before {
  width: calc(100% + 0.5em);
}
