.template__list {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}

.template__item {
  display: flex;
  align-items: center;
  border-radius: var(--radius-50);
  background-color: var(--text-400);
  outline-offset: 2px;
  justify-content: space-between;
  gap: 0.75em;
}

.template__item:hover,
.template__item:focus-visible,
.template__item--active {
  background-color: var(--template-bg-color, var(--text-400));
  outline: 1px solid var(--text-400);
  color: var(--template-text-color);
}

.template__item--header {
  flex: 1;
}

.template__item--button {
  --btn-bg: transparent;

  padding: 1em;
  color: var(--template-text-color, var(--text-100));
  font-size: 0.8125em;
  width: 100%;
  display: flex;
  color: inherit;
  align-items: center;
  gap: 0.75em;
}

.template__item:hover .template__item--button,
.template__item:focus-visible .template__item--button {
  --btn-text-color: var(--template-text-color, var(--text-100));
}

.template__item--status {
  --dimension: 1.5em;

  display: grid;
  place-items: center;
  border: 2px solid;
  width: var(--dimension);
  height: var(--dimension);
  border-radius: var(--radius-circle);
}

.template__item--status .material-symbols-outlined {
  font-size: 1.125em;
}

.template__color--list {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.template__color--item {
  width: 0.5em;
  height: 1.25em;
  display: inline-block;
  border-radius: var(--radius-pill);
  background-color: var(--template-color, #888888);
  border: 1px solid var(--text-400);
}

.template__item:hover .more__options--button,
.template__item:focus-visible .more__options--button {
  color: var(--template-text-color);
}

.template__button--entry {
  margin-top: 1em;
}

.template__dialog {
  --dialog-bg: var(--bg-100);
  --form-input-bg: var(--dialog-bg);
  --form-input-border: var(--text-400);
  --form-input-color: var(--text-100);
  --form-input-placeholder-color: var(--text-200);

  position: absolute;
  height: 100%;
  border-radius: var(--radius-100);
  background-color: var(--dialog-bg);
  box-shadow: var(--shadow);
  z-index: 10;
  transition:
    inset 400ms ease-in-out,
    scale 400ms ease-in-out,
    border-radius 400ms ease-in-out;
}

.template__dialog.closed {
  inset: 80% 0 auto;
  scale: 0.85;
}

.template__dialog.open {
  inset: 0 0 auto;
  scale: 1;
}

.template__dialog--header {
  position: absolute;
  inset: 0 0 2em 0;
  height: 3.5em;
  border-radius: inherit;
  background-color: transparent;
  transition:
    height 400ms ease-in-out,
    background-color 400ms ease-in-out;
}

.template__dialog.closed .template__dialog--header {
  height: 100%;
  background-color: var(--dialog-bg);
}

.template__dialog--button__toggle {
  margin: 1em 2em;
}

.template__form {
  margin-top: 2em;
}
