h1,
h2,
h3,
h4 {
  color: var(--text-100);
}

.offscreen {
  position: absolute;
  left: -10000px;
}

input,
select,
button {
  font: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section__title {
  margin: 1em 0;
  font-size: 1.75em;
  font-weight: 700;
}

.section__subTitle--container {
  margin: 0 0 0.5em;
}

.section__subTitle {
  font-size: 0.9em;
  font-weight: normal;
  color: var(--text-200);
  text-transform: uppercase;
}

.main {
  padding: 2rem min(2.5%, 2rem);
  height: 100vh;
  min-height: 45em;
  max-width: 75em;
  margin: 0 auto;
}

.main__container {
  position: relative;
  height: 100%;
  border-radius: var(--radius-200);
  overflow: hidden;
}

@media (min-width: 48em) {
  .main__container {
    display: flex;
    gap: 2em;
    height: 100%;
  }
}
