@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

:root {
  --primary-100: #e805fe; /* color name: electric purple */
  --primary-200: #0e62ea; /* color name: royal blue */

  --bg-100: #051956; /* color name: oxford blue */
  --bg-200: #3451a1; /* color name: blue */
  --bg-300: #97b5fe; /* color name: light steel blue */

  --text-100: #e2fdff; /* color name: baby powder */
  --text-200: #5469a2; /* color name: slate blue */
}

html {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: var(--text-200);
  font-weight: 400;
  background-color: var(--bg-300);
}

h1,
h2,
h3,
h4 {
  color: var(--text-100);
}

.offscreen {
  position: absolute;
  left: -10000px;
}

input,
button {
  font: inherit;
}

button {
  all: unset;
}

.button {
  background-color: transparent;
  border-radius: 50%;
  min-width: 2.25em;
  min-height: 2.25em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.button:hover,
.button:focus {
  color: var(--text-100);
  background-color: var(--text-200);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section__title {
  margin: 1em 0;
  font-size: 1.75em;
  font-weight: 700;
}

.section__subTitle--container {
  margin: 0 0 0.5em;
}

.section__subTitle {
  font-size: 0.9em;
  font-weight: normal;
  color: var(--text-200);
  text-transform: uppercase;
}

.main {
  padding: 2rem 0;
  height: 100vh;
  max-width: 23em;
  margin: 0 auto;
}

.main__container {
  position: relative;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}

.hero {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: inherit;
  background-color: var(--bg-100);
}

.hero__button--container {
  text-align: center;
}

.hero__button {
  color: var(--text-100);
  border: solid 0.125em var(--text-100);
}

.hero__button span {
  scale: 1.15;
}

.hero__image--container {
  --dimension: 6em;

  padding: 0.15em;
  width: var(--dimension);
  height: var(--dimension);
  background: linear-gradient(
    45deg,
    var(--text-200) 70%,
    var(--primary-100),
    var(--primary-100)
  );
  border-radius: 50%;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  border: solid 0.215em var(--bg-100);
}

.hero__title span:last-child {
  display: block;
}

.hero__nav--list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.hero__nav--link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: color 100ms ease-in-out;
  pointer-events: none; /* disable pointer events until functionality is added */
}

.hero__nav--link span:last-child {
  color: var(--text-100);
}

.hero__nav--link:hover {
  color: var(--primary-100);
}

.hero__analytics--chart span {
  transform: scaleX(8) scaleY(3.5);
  color: var(--primary-100);
  margin: 1em 0 1.5em 3em;
}

.hero__analytics--report--title {
  display: flex;
  flex-direction: column;
}

.hero__analytics--report--text {
  margin: 0;
  font-size: 0.85em;
  order: 1;
}

.hero__analytics--report--title {
  font-size: 1.125em;
  order: 2;
}

.app {
  position: absolute;
  inset: 0 auto 0 70%; /* left should be 70% */
  scale: 0.85;
  width: 100%;
  background-color: var(--bg-200);
  border-radius: inherit;
  transition: inset 300ms ease-in-out, scale 300ms 100ms ease-in-out;
}

.app.show {
  inset: 0 auto 0 0;
  scale: 1;
}

.app__header {
  display: flex;
  justify-content: space-between;
}

.app__category {
  margin-bottom: 1rem;
}

.app__category--list {
  display: flex;
  gap: 1rem;
}

.app__category--item {
  all: unset;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 7em;
  background-color: var(--bg-100);
  box-shadow: 0 0 0.5em 0.125em rgba(0, 0, 0, 0.1);
}

.app__category--item * {
  margin: 0;
  line-height: 1;
}

.app__category--item__count {
  font-size: 0.75em;
}

.app__category--item__progresBar {
  position: relative;
  height: 0.175em;
  border-radius: 5em;
  background-color: var(--text-200);
}

.app__category--item__progresBar--fill {
  display: inline-block;
  position: absolute;
  height: 100%;
  border-radius: inherit;
}

.app__category--item__progresBar--fill::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.175em;
  height: 200%;
  border-radius: inherit;
  background-color: var(--primary-100);
}

.app__category--list li:first-child .app__category--item__progresBar--fill {
  width: 71%;
  background-color: var(--primary-100);
}

.app__category--list
  li:first-child
  .app__category--item__progresBar--fill::before {
  background-color: var(--primary-100);
}

.app__category--list li:last-child .app__category--item__progresBar--fill {
  width: 29%;
  background-color: var(--primary-200);
}

.app__category--list
  li:last-child
  .app__category--item__progresBar--fill::before {
  background-color: var(--primary-200);
}

.app__task--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.app__task--clear {
  all: unset;
  cursor: pointer;
  color: var(--text-100);
  font-size: 0.75em;
  padding: 0.125em 0.5em;
  border-radius: 0.5em;
  background-color: var(--primary-200);
  box-shadow: 0 0 0.5em 0.125em rgba(0, 0, 0, 0.1);
  transition: opacity 100ms ease-in-out;
}

.app__task--clear:hover {
  opacity: 0.75;
}

.app__task--entry {
  position: relative;
}

.app__task--entry--input {
  width: 100%;
  padding: 0.5em;
  border: 2px solid var(--text-200);
  border-radius: 10px;
  color: var(--text-200);
  background-color: var(--bg-100);
}

.app__task--entry--button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  bottom: 0.25em;
  padding: 0 0.35em;
  border-radius: 0.45em;
  display: grid;
  place-items: center;
  background-color: var(--primary-100);
  color: var(--text-100);
  box-shadow: 0 0 0.5em 0.125em rgba(0, 0, 0, 0.1);
  transition: background-color 100ms ease-in-out;
}

.newItemEntry {
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
}

.newItemEntry__form {
  display: flex;
  gap: 0.25rem;
  font-size: 1.5rem;
}

.newItemEntry__input {
  width: calc(100% - (0.25rem + 48px));
  flex-grow: 1;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 0.5em;
}

.newItemEntry__button {
  background-color: transparent;
  color: whitesmoke;
  border: 3px dashed whitesmoke;
  padding: 0.75em;
}

.newItemEntry__button:hover,
.newItemEntry__button:focus {
  color: limegreen;
}

.listContainer {
  font-size: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.listTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.listTitle__button {
  background-color: transparent;
  color: whitesmoke;
  padding: 0.25em;
}

.listItems {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  padding-top: 1em;
  gap: 1em;
}

.item > input[type="checkbox"] {
  text-align: center;
  min-width: 2.5rem;
  min-height: 2.5rem;
  cursor: pointer;
}

.item > input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.item > label {
  flex-grow: 1;
  word-break: break-all;
}

.item > button:hover,
.item > button:focus {
  color: red;
}

@media (min-width: 768px) {
  section {
    padding: 1rem;
  }
  .newItemEntry__form {
    gap: 0.5rem;
  }
}
