/* MORE OPTIONS BUTTON AND POPUP */
.more__options {
  position: relative;
}

.more__options--button {
  border: none;
}

.more__options--menu__list {
  position: absolute;
  visibility: hidden;
  list-style-type: none;
  opacity: 0;
  top: 2em;
  right: -5em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  padding: 0.25em;
  width: max-content;
  border-radius: var(--radius-50);
  background-color: var(--bg-200);
  z-index: 1;
  box-shadow: 0 0 0.5em 0.125em rgba(0, 0, 0, 0.2);
  transition:
    opacity 150ms ease-in-out,
    top 150ms ease-in-out;
}

.more__options--menu__list.open {
  right: 0;
  visibility: visible;
  opacity: 1;
  top: 2.5em;
}

.more__options--menu__option {
  padding: 0.25em;
  font-size: 0.85em;
  color: var(--text-100);
  border-radius: var(--radius-25);
  width: 100%;
  transition: background-color 100ms ease-in-out;
}

.more__options--menu__option:hover,
.more__options--menu__option:focus-visible {
  background-color: var(--text-400);
}

.padding {
  padding: 2rem;
}

.padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}
