button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.button {
  position: relative;
  background-color: transparent;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out, opacity 100ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

/* .button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  border-radius: inherit;
  background-color: red;
  z-index: -1;
  scale: 0;
} */

.button:hover {
  color: var(--text-100);
  background-color: var(--text-400);
}

.button:focus-visible {
  outline: var(--primary-button) solid 0.125em;
  outline-offset: 0.25em;
}

.button__round {
  --dimension: 2.25em;

  border-radius: var(--radius-circle);
  min-width: var(--dimension);
  min-height: var(--dimension);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 0.125em var(--text-200);
}

.button__primary {
  background-color: var(--primary-button);
  color: var(--bg-200);
  display: inline-flex;
  box-shadow: var(--shadow-button);
}

.button__primary:hover {
  color: var(--bg-200);
  background-color: var(--primary-button);
  opacity: 0.85;
}

.button__primary--round {
  --dimension: 4em;

  border-radius: var(--radius-circle);
  min-width: var(--dimension);
  min-height: var(--dimension);
  justify-content: center;
  align-items: center;
}

.button__primary--bar {
  padding: 0.75em 1.5em;
  border-radius: var(--radius-500);
  justify-content: center;
}

/* MORE OPTIONS BUTTON AND POPUP */
.more__options {
  position: relative;
}

.more__options--button {
  border: none;
}

.more__options--menu__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 2em;
  right: -5em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  padding: 0.25em;
  width: max-content;
  border-radius: var(--radius-50);
  background-color: var(--bg-200);
  z-index: 1;
  box-shadow: 0 0 0.5em 0.125em rgba(0, 0, 0, 0.2);
  transition: opacity 150ms ease-in-out, top 150ms ease-in-out;
}

.more__options--menu__list.open {
  right: 0;
  visibility: visible;
  opacity: 1;
  top: 2.5em;
}

.more__options--menu__option {
  padding: 0.25em;
  font-size: 0.85em;
  color: var(--text-100);
  border-radius: var(--radius-25);
  width: 100%;
  transition: background-color 100ms ease-in-out;
}

.more__options--menu__option:hover,
.more__options--menu__option:focus-visible {
  background-color: var(--text-400);
}

.padding {
  padding: 2rem;
}

.padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}
